body{
    background : red;
}

.wrapperChat {
    width: 40% !important;
}

#header{
    background: linear-gradient(180deg, rgba(209,0,71,1) 0%, rgba(89,161,235,1) 78%) !important;
}

.header-chat-logo{
    width: 10px !important;
}
